<td class="half_1st day_{{ day.val }}
    {{#if day.is_bank_holiday}}bank_holiday_cell{{/if}}
    {{#if day.is_weekend}}weekend_cell{{/if}}
    {{#if day.is_leave_morning }}
        {{#if day.is_new_leave}}
            leave_cell_pended
        {{else}}
            leave_cell
        {{/if}}
        {{#if day.is_holiday}}holiday_cell{{/if}}
        {{#if day.is_ill}}ill_cell{{/if}}
        {{#if day.is_offsite}}offsite_cell{{/if}}
        {{#if day.is_home_office}}home_office_cell{{/if}}
    {{/if}}
    {{# if day.is_current_day }}current_day_cell{{/if}}
">
<span
  {{#unless day.is_ill}}
    {{#unless day.is_bank_holiday}}
      {{#unless day.is_weekend}}
        {{# with  day.leave_obj }}
          {{#if this }}
            data-toggle="tooltip"
            data-placement="top"
            title="
              {{#if ../../day.is_current_day}}Heute{{/if}}
              {{#if this.is_new_leave}}Offener Antrag{{/if}}
              {{#if this.is_pended_revoke_leave}}Abgelehnt{{/if}}
              {{#if this.is_approved_leave}}
                {{#unless this.is_pended_revoke_leave}}Genehmigt{{/unless}}
              {{/if}}"
          {{/if}}
        {{/with}}
      {{/unless}}
    {{/unless}}
  {{/unless}}

  {{#if day.is_current_day}}
    data-toggle="tooltip"
    data-placement="top"
    title="Heute"
  {{/if}}

  {{#if day.is_bank_holiday}}
    data-toggle="tooltip"
    data-placement="top"
    title="Feiertag"
  {{/if}}

>{{day.val}}</span>
</td>
<td class="half_2nd day_{{ day.val }}
    {{#if day.is_bank_holiday}}bank_holiday_cell{{/if}}
    {{#if day.is_weekend}}weekend_cell{{/if}}
    {{#if day.is_leave_afternoon }}
        {{#if day.is_new_leave}}
            leave_cell_pended
        {{else}}
            leave_cell
        {{/if}}
        {{#if day.is_holiday}}holiday_cell{{/if}}
        {{#if day.is_ill}}ill_cell{{/if}}
        {{#if day.is_offsite}}offsite_cell{{/if}}
        {{#if day.is_home_office}}home_office_cell{{/if}}
    {{/if}}
    {{# if day.is_current_day }}current_day_cell{{/if}}
"></td>
